@page
@model PanelBuildMaterials.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Создать заказ";
}


<form class="form-manip" method="post">
    <h1 class="text-center">Создать заказ</h1>
    <div class="form-group">
        <label for="UserId">ID Пользователя</label>
        <select id="UserId" name="NewOrder.UserId" class="form-control" readonly required>
            @if (Model.Users != null && Model.Users.Any())
            {
                var currentUser = Model.Users.First();
                <option value="@currentUser.UserId" selected>@currentUser.UserLogin</option>
            }
            else
            {
                <option disabled>Пользователь не найден</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="DateOrder">Дата заказа</label>
        <input type="date" id="DateOrder" name="NewOrder.DateOrder"
               class="form-control" required
               min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label for="TimeOrder">Время заказа</label>
        <input type="time" id="TimeOrder" name="NewOrder.TimeOrder" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
    <a asp-page="/Orders/Orders" style="display:inline;" class="action-btn delete-btn">Отмена</a>
</form>