@page
@model PanelBuildMaterials.Pages.Users.EditUserModel
@{
    ViewData["Title"] = "Изменить пользователя";
}



<form class="form-manip" method="post">
    <h1 class="text-center">Изменить пользователя @Model.User.UserLogin</h1>
    <input type="hidden" name="UserId" value="@Model.User.UserId" />
    <div class="form-group">
        <label for="UserLogin">Логин</label>
        <input type="text" id="UserLogin" name="UserLogin" value="@Model.User.UserLogin" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="UserPassword">Пароль (оставьте пустым для сохранения текущего)</label>
        <input type="password" id="UserPassword" name="UserPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label for="UserLaws">Тип прав</label>
        <select id="UserLaws" name="UserLaws" class="form-control">
            @if (Model.User.UserLaws == "Полные")
            {
                <option value="Полные" selected>Полные</option>
                <option value="Ограниченные">Ограниченные</option>
            }
            else
            {
                <option value="Полные">Полные</option>
                <option value="Ограниченные" selected>Ограниченные</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-page="/Users/Users" style="display:inline;" class="action-btn delete-btn">Отменить</a>
</form>