@page
@model PanelBuildMaterials.Pages.Services.EditServiceModel
@{
    ViewData["Title"] = "Редактировать услугу";
}

<form class="form-manip" method="post">
    <h1 class="text-center">Редактировать услугу @Model.Service.NameService</h1>
    <input type="hidden" asp-for="Service.ServiceId" />

    <div class="form-group">
        <label asp-for="Service.NameService" class="form-label">Название услуги</label>
        <input asp-for="Service.NameService" class="form-control" />
        <span asp-validation-for="Service.NameService" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Service.PriceService" class="form-label">Стоимость услуги</label>
        <input asp-for="Service.PriceService" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Service.PriceService" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-page="/Services/Services" style="display:inline;" class="action-btn delete-btn">Отменить</a>
</form>